<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLBanHang.DAO.Properties.Settings.QLBanHangConnectionString"
            connectionString="Data Source=DESKTOP-NKAATSF;Initial Catalog=QLBanHang;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>